section.section 
	div.container.container--small
		div.row
			div.col-12
				h2.h2 О Нас 

				p Компания Tekway была основана в 2008 году, очень хорошо зарекомендовала себя в данной сфере деятельности — инструменты для ремонта автомобилей.
				p В компании приоритетным всегда будет отношение к клиентам.
				p Мы несем ответственность за каждый проданный нами товар и гарантируем отличное качества. 
				p Очень ценим время наших покупателей и дорожим своей репутацией.

				br

				p С Уважением, Tekway