section.section 
	div.container.container--small
		div.row
			div.col-12
				h2.h2 Мы предлагаем следующие условия: 

				+list({
					value: [
						"Существенные скидки на мелкий и крупный опт на всю нашу продукцию.",
						"Помощь с выбором ассортимента предлагаемой продукции.",
						"Осуществление поддержки на всех стадиях работы с нами.",
						"Организацию упаковки и доставки груза в любую точку России.",
						"Оплата заказа любым удобным для Вас способом.",
						"Индивидуальный подход к каждому клиенту.",
					],
					class: "list--big"
				})