section.section.section-sale
	div.container.container--small
		div.row
			div.col-12
				h2.h2 Оптовый цены на нашу продукцию 
					br
					| Вы можете получить, послав запрос на 
					b
						a(href="mailto:info@tekway-msk.ru") info@tekway-msk.ru