.catalog {
}
.catalog__title {
  margin: 36px 0;

  @media (min-width: 768px) {
    margin: 48px 0;
  }
}
.catalog .card {
  margin-bottom: 36px;

  @media (min-width: 768px) {
    margin-bottom: 68px;
  }
}
