section.catalog
	div.container
		div.row.catalog__header
			div.col-12.text-center
				h1.h1.catalog__title(id="products") Шлифовальный станок

		div.row.catalog__tabs
			div.col-12
				+tabs({id: "catalog", items: [{id: "1", text: "Шлифовальные машинки"}, {id:2, text: "Расходники"}]})

			div.col-12
				div(id="catalog-body")
					div.tabs-body__items(id="catalog-1")
						+card({
							images: ["images/product-01-01.png", "images/product-01-02.png",],
							title: "Шлифовальная машинка: Электрорубанок орбитально-эксцентриковая (3:0)",
							description: "Для работ по метеллу, пластику, дереу",
							price: "16 000 руб",
							parameters: [
								{
									title: "Технические характеристики:",
									value: [
										"<b>Производитель:</b> TEKWAY",
										"<b>Ход эксцентрика:</b> 3 мм.",
										"<b>Подошва:</b> 70*198мм.",
										"<b>Потребляемая мощность:</b> 350 Вт.",
										"<b>Напряжение:</b> 220Вт, 50ГЦ",
										"<b>Индикатор скорости и Регулировка частоты вращения:</b> есть",
										"<b>Автоматический тормоз эксцентрика:</b> есть",
										"<b>Количество скоростей:</b> 6",
										"<b>Частота вращения диска:</b> 4000-10000 об/мин",
										"<b>Длина шнура питания:</b> 4 м.",
										"<b>Крепление листа на липучке:</b> есть",
										"<b>Защита от перегрузок:</b> есть",
										"<b>Вес:</b> 1,55 кг",
									]
								},
								{
									title: "Комплект:",
									value: [
										"<b>Паспорт:</b> 1 шт.",
										"<b>Шланг для пылесоса:</b> 1 шт.",
										"<b>Набор абразива:</b> 4 шт.",
										"<b>Ключ:</b> 1 шт.",
									]
								},
							]
						})

						+card({
							images: ["images/product-02-01.png", "images/product-02-02.png",],
							title: "Шлифовальная машинка орбитально-эксцентриковая (5:0)",
							description: "Для работ по металлу, пластику, дереву.",
							price: "16 000 руб",
							parameters: [
								{
									title: "Технические характеристики:",
									value: [
										"<b>Производитель:</b> TEKWAY",
										"<b>Ход эксцентрика:</b> 5 мм.",
										"<b>Макс. Диаметр диска:</b> 150 мм.",
										"<b>Потребляемая мощность:</b> 350 Вт.",
										"<b>Напряжение:</b> 220Вт, 50ГЦ",
										"<b>Индикатор скорости и Регулировка частоты вращения:</b> есть",
										"<b>Автоматический тормоз эксцентрика:</b> есть",
										"<b>Количество скоростей:</b> 6",
										"<b>Частота вращения диска:</b> 4000-10000 об/мин",
										"<b>Длина шнура питания:</b> 4 м.",
										"<b>Крепление листа на липучке:</b> есть",
										"<b>Защита от перегрузок:</b> есть",
										"<b>Размер:</b> 35*16,5*13 см, вес -2 кг",
									]
								},
								{
									title: "Комплект:",
									value: [
										"<b>Паспорт:</b> 1 шт.",
										"<b>Шланг для пылесоса:</b> 1 шт.",
										"<b>Набор абразива:</b> 4 шт.",
										"<b>Ключ:</b> 1 шт.",
									]
								},
							]
						})

						+card({
							images: ["images/product-03-01.png", "images/product-02-02.png",],
							title: "Шлифовальная машинка орбитально-эксцентриковая (2,5)",
							description: "Для работ по металлу, пластику, дереву.",
							price: "16 000 руб",
							parameters: [
								{
									title: "Технические характеристики:",
									value: [
										"<b>Производитель:</b> TEKWAY",
										"<b>Ход эксцентрика:</b> 2.5 мм.",
										"<b>Макс. Диаметр диска:</b> 150 мм.",
										"<b>Потребляемая мощность:</b> 350 Вт.",
										"<b>Напряжение:</b> 220Вт, 50ГЦ",
										"<b>Индикатор скорости и Регулировка частоты вращения:</b> есть",
										"<b>Автоматический тормоз эксцентрика:</b> есть",
										"<b>Количество скоростей:</b> 6",
										"<b>Частота вращения диска:</b> 4000-10000 об/мин",
										"<b>Длина шнура питания:</b> 4 м.",
										"<b>Крепление листа на липучке:</b> есть",
										"<b>Защита от перегрузок:</b> есть",
										"<b>Размер:</b> 35*16,5*13 см, вес -2 кг",
									]
								},
								{
									title: "Комплект:",
									value: [
										"<b>Паспорт:</b> 1 шт.",
										"<b>Шланг для пылесоса:</b> 1 шт.",
										"<b>Набор абразива:</b> 4 шт.",
										"<b>Ключ:</b> 1 шт.",
									]
								},
							]
						})

					div.tabs-body__items.hidden(id="catalog-2")
						+card({
							images: ["images/other-01-01.png", "images/other-01-02.png",],
							title: "Проставка к шлифовальной машинки",
							price: "0 руб",
							parameters: [
								{
									title: "Технические характеристики:",
									value: [
										"<b>Диаметр:</b> 150 мм",
										"<b>Толщина:</b> 10 мм",
									]
								},
							]
						})

						+card({
							images: ["images/other-02-01.png", "images/other-02-02.png",],
							title: "Подошва размер 70-178 мм к&nbsp;шлифовальному рубанку",
							price: "0 руб",							
						})

						+card({
							images: ["images/other-03-01.png", "images/other-03-02.png",],
							title: "Подошва диаметр 150мм к шлифмашинке",
							price: "0 руб",
						})

						+card({
							images: ["images/other-04-01.png",],
							title: "Подложка к шлифовальной машинки",
							price: "0 руб",
							parameters: [
								{
									title: "Технические характеристики:",
									value: [
										"<b>Диаметр:</b> 150 мм",
										"<b>Толщина:</b> 3 мм",
									]
								},
							]
						})

		div.row.catalog__video
			div.col-12
				+video({video: "video/video1"})