doctype html
html(lang="ru")
	include include/head.pug
	+head({
		title: 'Шлифовальные машинки: Электрорубанки орбитально-эксцентриковые - TEKWAY'
	})

	body
		div.wrapper
			include ../blocks/mixins.pug

			include ../blocks/header/header.pug

			include ../blocks/catalog/catalog.pug

			br

			include ../blocks/section-about/section-about.pug

			include ../blocks/section-conditions/section-conditions.pug

			include ../blocks/section-sale/section-sale.pug

			include ../blocks/section-features/section-features.pug

			include ../blocks/section-contact-form/section-contact-form.pug

			+modal({title: "Запросить цену", id: "checkPrice"})
				include ../blocks/form-request-price/form-request-price.pug

		include include/script.pug