section.section.section-features
	div.container.container--small
		div.row
			div.col-12
				h2.h2 Почему выгодно и удобно работать с нами?

				div.section-features__body
					+feature({
						title: "1. Ценовая политика:",
						text: "Для каждого клиента мы разрабатываем отдельную персональную систему скидок."
					})

					+feature({
						title: "2. Логистическая политика:",
						text: "По Вашему заказу мы собираем небольшие партии товара и комплектуем их на одном из складов в Москве. Своими силами отвозим скомплектованные товар до транспортной компании."
					})

					+feature({
						title: "3. Политика корректности работы:",
						text: "В своей работе мы опираемся на принципы справедливости и поэтому: Мы не предоставляем небольшим оптовикам цены крупных оптовиков."
					})