//- - var base_path = '/';
- var base_path = 'https://alexen2.github.io/portfolio/';

include card/card.pug
include button/button.pug
include list/list.pug
include tabs/tabs.pug
include video/video.pug
include feature/feature.pug