nav.menu
	a.menu__link(href="#products") Продукция
	//- a.menu__link(href="#payment") Оплата и доставка
	a.menu__link(href="#about") О нас
	a.menu__link(href="#conditions") Сотрудничество
	a.menu__link(href="#contact") Контакты