.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;

  opacity: 1;

  transition: all 0.3s;
}
.menu__link:hover {
  opacity: 0.75;

  transition: all 0.3s;
}
