.section-contact-form {
  margin-bottom: 0;
  padding: 48px 0;

  color: #ffffff;

  background-image: url("/images/section-contact-form__bg.jpg");
  background-size: cover;
}
.section-contact-form .row > div {
  margin-bottom: 12px;

  @media (min-width: 992px) {
    margin-bottom: 24px;
  }
}
.section-contact-form__contact-item {
  display: flex;
  gap: 12px;
}
.section-contact-form__contact-item b {
  display: block;
  width: 120px;
  flex: 0 0 120px;
  margin-bottom: 12px;
}
.section-contact-form__contact-item a {
  text-decoration: none;
  color: #ffffff;
}
