.typography-badge {	
	padding: 0;
	margin: 0;
	
	font-family: var(--font-main);
	font-size: var(--font-badge-size);
	font-weight: var(--font-badge-weight);
	line-height: var(--font-badge-line-height);
}