.typography-footnote {
	padding: 0;
	margin: 0;
	
	font-family: var(--font-main);
	font-size: var(--font-footnote-size);
	font-weight: var(--font-footnote-weight);
	line-height: var(--font-footnote-line-height);
}